<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Competitions</h1>
    <p class="lead text-center">Join the competition of your choice.<br />To join a competition, you have to be part of that group on Facebook.</p>
  </div>
</div>

<div class="container">
	<div class="row d-flex justify-content-end mb-4">
		<a href="/competitions/new" class="btn btn-xs btn-success"><i class="fas fa-plus-circle"></i>  Create new competition</a>
	</div>
</div>

<div class="container">
  <div class="row">
  	<% competitions.forEach(function(competition) {  %>
	<div class="col-lg-4 col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= competition.name %></h5>
          <p class="card-text mt-3">To join the Facebook group click here. <%= competition.GroupUrl %></p>
        	<div class="d-flex justify-content-between">
			 <a href="#" class="btn btn-xs btn-outline-primary">Join</a>
			 <a href="#" class="btn btn-xs btn-outline-success">View</a>
			 <a href="#" class="btn btn-xs btn-outline-warning">Edit</a>
			 <a href="#" class="btn btn-xs btn-outline-danger">Delete</a>
			</div>	
        </div>
      </div>
    </div>
	<% }); %>
  </div>
</div>


<% include ../partials/footer.ejs %>
